{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

    {% block component_filter_panel_element %}

       {% if page.header.navigation.active.customFields.custom_category_filter_toggle != 1 %} 
            {{ parent() }}
       {% endif %} 

    {% endblock %}

